# Databases settings
MONGO_DB_URI=mongodb://mongodb:27017/

POSTGRES_USER_NAME=app_user
POSTGRES_PASSWORD=1234
POSTGRES_DB=time_table_db
POSTGRES_PORT=5432
POSTGRES_HOST=gen_table_database

# Security
JWT_SECRET_KEY=1234
JWT_REFRESH_SECRET_KEY=1234